body{
  background-color: #F7EDF0;
  padding: 20px;
  position: relative;
}

.background-stripe-yellow{
  background-color: #F4F482;
  height: 300px;
  width: 100vw;
  position: absolute;
  bottom: 300px;
  z-index: -100;

}