*{
  margin: 0px;
}

html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
}

h1{
  margin: 0px;
}

.hero{
  background-image: url("./lum3n-250309-unsplash.jpg");
  /* background-size: cover;
  background-repeat: no-repeat; 
  height: 100vh; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.nav-bar{
display: flex;
height: 64px;
justify-content: center;

}


.nav-bar li{
  list-style-type: none;
  margin: 20px;
  color: white;
  font-size: 1em;
}

.nav-bar ul{
  display: flex;
  justify-content: center;
}

.nav-bar-logo{
  height: 64px;
  align-self: center
}



